Repository itsnothuy/Doorbell-System, changes with the labels that .github/labeler.yml gives for each.
All labels: component: core, component: face-recognition, component: hardware, component: notifications, component: web-ui, component: config, documentation, testing, infrastructure, automation, security, dependencies, performance, bug, breaking-change, priority: high, priority: medium, priority: low, platform: raspberry-pi, platform: macos, platform: docker, platform: cloud, size: small, size: large

feat: Add comprehensive Frigate-inspired architecture foundation
  .github/ISSUE_TEMPLATE/pipeline_implementation.yml
  .github/copilot-instructions.md
  ADR 002- Face Recognition Implementation 22 date- 2025-10-23.txt
  ADR 003- Generative AI Integration 22 date- 2025-10-23.txt
  ADR 004- Testing Strategy 22 date- 2025-10-23.txt
  ADR-001-System-Architecture-–-Modular-Monolith.txt
  Building and Running the Project.txt
  Frigate NVR Codebase Deep Dive.txt
  Planning.txt
  System Architecture and Design.txt
  config/pipeline_config.py
  copilot-instructions.txt
  docs/ARCHITECTURE.md
  docs/CODING_AGENT_SPECS.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/IMPLEMENTATION_GUIDE.md
  scripts/generate_implementation_issues.py
  src/communication/events.py
  src/communication/message_bus.py
  src/communication/queues.py
  src/detectors/base_detector.py
  src/pipeline/orchestrator.py
Labels: component: config, documentation, infrastructure, automation, priority: medium, priority: low

feat: Add comprehensive GitHub issues for slice-by-slice implementation
  .github/copilot-instructions.md
  docs/IMPLEMENTATION_GUIDE.md
  github_issues/issue_04_frame_capture_worker.md
  github_issues/issue_06_face_detection_worker.md
  github_issues/issue_07_face_recognition_engine.md
  github_issues/issue_11_internal_notification_system.md
Labels: documentation, infrastructure, priority: low

Update GitHub issues, add auto-close setup, and enhance documentation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-close-issues.yml
  AUTOCLOSE_SETUP_SUMMARY.md
  docs/github-auto-close-setup.md
  github_issues/issue_04_frame_capture_worker.md
  github_issues/issue_05_motion_detection_worker.md
  github_issues/issue_06_face_detection_worker.md
  github_issues/issue_07_face_recognition_engine.md
  github_issues/issue_08_event_processing_system.md
  github_issues/issue_09_hardware_abstraction_layer.md
  github_issues/issue_10_storage_layer.md
  github_issues/issue_11_internal_notification_system.md
Labels: documentation, infrastructure, automation, priority: high, priority: low

Remove outdated documentation and add new issue folder
  docs/issue 4/frame_capture_worker.md
Labels: documentation, priority: low

feat: Add Architecture Decision Records (ADRs) and quality assurance documentation
  README.md
  docs/QUALITY_ASSURANCE.md
  docs/adr/ADR-001-system-architecture.md
  docs/adr/ADR-002-face-recognition-implementation.md
  docs/adr/ADR-003-generative-ai-integration.md
  docs/adr/ADR-004-testing-strategy.md
  docs/adr/README.md
  docs/issue/4/frame_capture_worker.md
  docs/issue/5/MOTION_DETECTION_SUMMARY.md
  docs/issue/5/motion_detection.md
  docs/issue/6/IMPLEMENTATION_SUMMARY.md
  docs/issue/6/face_detection_worker.md
  docs/issue/7/FACE_RECOGNITION_IMPLEMENTATION.md
  docs/issue/8/EVENT_PROCESSING.md
Labels: documentation, priority: low

Add detailed GitHub issues for Phase 1 enhancements
  github_issues/issue_01_communication_infrastructure_tests.md
  github_issues/issue_02_enhanced_detector_framework.md
  github_issues/issue_03_configuration_hot_reloading.md
Labels: none

Add issue 11.5 for real-time web streaming integration
  github_issues/issue_11.5_real_time_web_streaming.md
Labels: none

feat: Complete Issues 12-16 and comprehensive ADR expansion
  docs/adr/ADR-005-pipeline-architecture-orchestration.md
  docs/adr/ADR-006-communication-infrastructure-message-bus.md
  docs/adr/ADR-007-detector-strategy-hardware-abstraction.md
  docs/adr/ADR-008-production-deployment-infrastructure.md
  docs/adr/ADR-009-security-architecture-compliance.md
  docs/adr/ADR-010-storage-data-management.md
  docs/adr/README.md
  github_issues/issue_12_pipeline_orchestrator_integration.md
  github_issues/issue_13_detector_implementations.md
  github_issues/issue_14_main_application_integration.md
  github_issues/issue_15_comprehensive_testing_framework.md
  github_issues/issue_16_production_readiness_deployment.md
Labels: documentation, priority: low

feat: Enhance ADR files to production quality with comprehensive technical depth
  docs/adr/ADR-001-system-architecture-enhanced.md
  docs/adr/ADR-002-face-recognition-implementation-enhanced.md
  docs/adr/ADR-003-generative-ai-integration-enhanced.md
  docs/adr/ADR-004-testing-strategy-enhanced.md
  docs/adr/README.md
Labels: documentation, priority: low

Remove outdated ADR files to replace with enhanced versions
  docs/adr/ADR-001-system-architecture.md
  docs/adr/ADR-002-face-recognition-implementation.md
  docs/adr/ADR-003-generative-ai-integration.md
  docs/adr/ADR-004-testing-strategy.md
Labels: documentation, priority: low

Add comprehensive analysis and production-quality issues
  docs/PLACEHOLDER_ANALYSIS_REPORT.md
  docs/issue/12/IMPLEMENTATION_SUMMARY_ISSUE_12.md
  docs/issue/12/PIPELINE_INTEGRATION.md
  docs/issue/13/IMPLEMENTATION_SUMMARY_ISSUE_13.md
  docs/issue/14/IMPLEMENTATION_SUMMARY_ISSUE_14.md
  docs/issue/14/MIGRATION_GUIDE.md
  docs/issue/15/TESTING_FRAMEWORK_FILES.md
  docs/issue/15/TESTING_FRAMEWORK_SUMMARY.md
  docs/issue/16/MONITORING.md
  docs/issue/16/PRODUCTION_DEPLOYMENT.md
  docs/issue/16/PRODUCTION_IMPLEMENTATION_SUMMARY.md
  docs/issue/16/PRODUCTION_QUICK_REFERENCE.md
  github_issues/comprehensive_testing_framework.md
  github_issues/end_to_end_demo_validation.md
  github_issues/ui_ux_optimization_enhancement.md
Labels: documentation, priority: low

feat: Add production-quality GitHub issues #17-21 based on placeholder analysis
  github_issues/issue_17_model_manager_security.md
  github_issues/issue_18_message_bus_error_handling.md
  github_issues/issue_19_raspberry_pi_sensor_integration.md
  github_issues/issue_20_edgetpu_accelerator_implementation.md
  github_issues/issue_21_ensemble_detection_system.md
Labels: none

Add comprehensive testing and related issues
  github_issues/issue_22_comprehensive_testing_framework.md
  github_issues/issue_23_end_to_end_demo_validation.md
  github_issues/issue_24_production_monitoring_analytics.md
  github_issues/issue_25_implement_comprehensive_testing_suite.md
Labels: none

feat(pipeline): Add configuration object compatibility to pipeline workers
  src/pipeline/face_detector.py
  src/pipeline/face_recognizer.py
  src/pipeline/frame_capture.py
Labels: none

fix(integration): Resolve import compatibility and configuration passing issues
  src/integration/orchestrator_manager.py
  src/pipeline/motion_detector.py
Labels: none

fix(app): Resolve port conflict by updating default application port
  app.py
Labels: component: core, breaking-change

fix(orchestrator): Resolve hardware initialization and dependency injection issues
  src/pipeline/orchestrator.py
Labels: none

feat(events): Implement comprehensive configuration compatibility in EventProcessor
  src/pipeline/event_processor.py
Labels: none

feat(recognition): Add configuration compatibility to recognition components
  src/recognition/face_encoder.py
  src/recognition/similarity_matcher.py
Labels: none

fix(config): Add @dataclass decorators and resolve configuration type compatibility
  config/pipeline_config.py
Labels: component: config, priority: medium

docs(startup): Add comprehensive startup debugging documentation
  docs/STARTUP_DEBUGGING_LOG.md
Labels: documentation, priority: low

.github/labeler.yml:

# Auto-labeling configuration for Doorbell Security System
# This file configures automatic labeling of pull requests based on changed files
# See: https://github.com/actions/labeler

# Core system components
'component: core':
  - 'src/doorbell_security.py'
  - 'src/platform_detector.py'
  - 'app.py'

# Face recognition and AI
'component: face-recognition':
  - 'src/face_manager.py'
  - 'data/known_faces/**/*'
  - 'data/blacklist_faces/**/*'
  - 'data/cropped_faces/**/*'

# Hardware interface
'component: hardware':
  - 'src/gpio_handler.py'
  - 'src/camera_handler.py'

# Communications
'component: notifications':
  - 'src/telegram_notifier.py'

# Web interface and UI
'component: web-ui':
  - 'src/web_interface.py'
  - 'templates/**/*'
  - 'static/**/*'

# Configuration management
'component: config':
  - 'config/**/*'
  - 'pyproject.toml'
  - '.editorconfig'
  - '.pre-commit-config.yaml'

# Documentation
'documentation':
  - 'docs/**/*'
  - '*.md'
  - 'README*'
  - 'CHANGELOG*'
  - 'LICENSE*'

# Testing
'testing':
  - 'tests/**/*'
  - 'pytest.ini'
  - 'conftest.py'

# Infrastructure and deployment
'infrastructure':
  - '.github/**/*'
  - 'Dockerfile*'
  - 'docker-compose*.yml'
  - 'requirements*.txt'
  - 'setup*.sh'
  - 'Makefile'
  - 'railway.toml'
  - 'render.yaml'
  - 'vercel.json'

# Scripts and automation
'automation':
  - 'scripts/**/*'
  - '.github/workflows/**/*'

# Security related changes
'security':
  - '.github/workflows/codeql.yml'
  - 'config/credentials_template.py'
  - any: ['**/security.py', '**/auth.py', '**/credentials*']

# Dependencies
'dependencies':
  - 'requirements*.txt'
  - 'pyproject.toml'
  - 'Pipfile*'
  - 'poetry.lock'
  - 'package*.json'

# Performance related
'performance':
  - any: ['**/performance/**', '**/*benchmark*', '**/*perf*']

# Bug fixes (based on common patterns)
'bug':
  - any: ['**/fix_*', '**/bugfix_*', '**/hotfix_*']

# Breaking changes (based on file patterns that often indicate breaking changes)
'breaking-change':
  - 'src/doorbell_security.py'
  - 'config/settings.py'
  - 'app.py'

# Priority labels based on critical system components
'priority: high':
  - 'src/doorbell_security.py'
  - 'src/face_manager.py'
  - '.github/workflows/**/*'

'priority: medium':
  - 'src/gpio_handler.py'
  - 'src/camera_handler.py'
  - 'src/telegram_notifier.py'
  - 'config/**/*'

'priority: low':
  - 'docs/**/*'
  - 'templates/**/*'
  - 'static/**/*'
  - '*.md'

# Platform specific changes
'platform: raspberry-pi':
  - any: ['**/*pi*', '**/*gpio*', '**/*picamera*']

'platform: macos':
  - any: ['**/*macos*', '**/*darwin*', 'setup-macos.sh']

'platform: docker':
  - 'Dockerfile*'
  - 'docker-compose*.yml'
  - '.dockerignore'

'platform: cloud':
  - 'railway.toml'
  - 'render.yaml'
  - 'vercel.json'

# Size labels (estimated based on typical file change patterns)
'size: small':
  - any: ['docs/**/*.md', 'README.md', '*.txt']

'size: large':
  - 'src/doorbell_security.py'
  - 'src/face_manager.py'
  - 'src/web_interface.py'
